* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container */
.main-container {
  height: 100vh;
  width: 100%;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

/* Title  */
h1 {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

/* Result container */
.result {
  height: 25%;
  width: 100%;
  background-color: white;
}

.result .scores {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-family: roboto;
}

.result .winner {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: roboto;
}

/* Buttons */
.buttons {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-container {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  padding: 1rem;
  background-color: lightgreen;
  border-radius: 1rem;
}

@media (max-width: 780px) {
  .scores {
    font-size: 1rem;
    flex-direction: column;
  }

  .winner {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .result {
    height: 35%;
    width: 100%;
  }

  .winner {
    text-align: center;
  }

  h1 {
    height: 15%;
  }

  .buttons {
    height: 50%;
  }
}
